<div class="page-header">
  <h3><%= @submission.title %></h3> <a href=""><%= @submission.url %></a>
  <br>
  <% if @submission.user == current_user %>
    <%= link_to 'delete', @submission, method: :delete, data: {confirm: "Are you sure?" } %> |
    <%= link_to 'back', submissions_path %>
  <% end %>
</div>
